.footerWrap{
    
    background-color: rgb(97,80,127);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.footerlogo{
    align-items: center;
    
}
.social{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-right: 50px;
}